<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Roberta Ružic">
    <title>Pastebin Clone</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/paste.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-md justify-content-center">
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">New</a>
            <a class="navbar-brand" href="/pastelist">List</a>
        </nav>
        <div class="card pt-3" style="height:100vh">
            <div class="card-body">
                <div class="mx-auto max-w">
                    <h1 class="card-title" style="color:white;">{{name}}</h1>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-end align-items-center">
                            <button class="btn btn-secondary btn-sm" style="background-color: #131313" onclick="copyContent()">Copy text</button>
                            <a href="/remove/{{slug}}" class="p-4" style="color:white;text-decoration:none;">Remove</a>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="p-2" style="color: #7E7E7F;">{{slug}}</p>
                            <button class="btn btn-secondary btn-sm" style="background-color: #131313" onclick="copySlug()">Copy url</button>
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <div class="form-control shadow-none" id="content">{{content}}</div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script>
        function copySlug() {
          navigator.clipboard.writeText("https://pastebin.zapto.org/paste/{{slug}}");
        }

        function copyContent() {
          navigator.clipboard.writeText("{{content}}");
        }
    </script>

</body>
</html>
